$breakpoint: 1000px;

.navContainer {
  border-bottom: 0.1rem solid #333;
  padding: 0.5rem 0;
  @media (min-width: $breakpoint) {
    padding: 0 15rem;
  }
}

.mainContainer {
  display: flex;
  justify-content: center;
  height: 100%;

  @media (min-width: $breakpoint) {
    padding: 0 15rem;
  }
}

