.shareOptionsContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33333373;
    width: 100%;
    height: 100%;
}

.shareOptionsList {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    color: #333;
    padding: 5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin: 0;
    gap: 2rem;

    li {
        cursor: pointer;
    }
}

.closeButton {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1rem;
    margin-right: .5rem;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    color: #444;
}